@font-face {
  font-family: 'gotham-bold';
  src: url("/assets/fonts/gotham-bold.eot");
  src: url("/assets/fonts/gotham-bold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/gotham-bold.woff") format("woff"), url("/assets/fonts/gotham-bold.ttf") format("truetype"), url("/assets/fonts/gotham-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham-book';
  src: url("/assets/fonts/gotham-book.eot");
  src: url("/assets/fonts/gotham-book.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/gotham-book.woff") format("woff"), url("/assets/fonts/gotham-book.ttf") format("truetype"), url("/assets/fonts/gotham-book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'thirsty-bold';
  src: url("/assets/fonts/thirstybold.eot");
  src: url("/assets/fonts/thirstybold.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/thirstybold.woff") format("woff"), url("/assets/fonts/thirstybold.ttf") format("truetype"), url("/assets/fonts/thirstybold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'thirsty-blk';
  src: url("/assets/fonts/thirstyblk.eot");
  src: url("/assets/fonts/thirstyblk.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/thirstyblk.woff") format("woff"), url("/assets/fonts/thirstyblk.ttf") format("truetype"), url("/assets/fonts/thirstyblk.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'gotham-book'; }

.gradient {
  background: #64ccc9;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #77dfdc 0%, #34aca7 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #77dfdc 0%, #34aca7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #77dfdc 0%, #34aca7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77dfdc', endColorstr='#34aca7',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }

.fancy {
  font-family: 'thirsty-bold';
  text-transform: lowercase;
  letter-spacing: 0; }

.visible-sm {
  display: none; }

h1 {
  margin: 0;
  color: #fff;
  font-size: 3.5rem; }

header {
  background: #64ccc9;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 100;
  text-align: center;
  transition: height 0.3s ease-out; }
  header img {
    max-width: 200px;
    position: relative;
    top: 17px;
    transition: 0.3s ease-out all; }
  header.hideit {
    height: 100vh; }
    header.hideit img {
      top: 50%;
      transform: translateY(-50%);
      animation: pulse 1s infinite; }

main {
  display: block; }

footer {
  clear: both;
  background: #64ccc9; }
  footer p {
    font-size: 0.75rem;
    padding: 15px 0px;
    text-align: center;
    margin: 0;
    line-height: 1rem;
    padding-bottom: 15px;
    color: #fff;
    font-family: 'gotham-book'; }

.belt {
  margin-bottom: -150px; }
  .belt div {
    text-align: center; }
    .belt div:focus {
      outline: 0; }
  .belt img {
    width: 200px;
    display: inline-block; }

article.each-one {
  height: 0;
  transition: 0.3s linear all;
  overflow: hidden;
  position: relative; }
  article.each-one .width-50 {
    width: 50%;
    float: left;
    position: relative;
    height: 100%; }
    article.each-one .width-50 .full-img {
      width: 100%;
      height: 100%;
      position: relative; }
      article.each-one .width-50 .full-img img {
        max-height: 70vh;
        min-height: 430px;
        position: relative;
        top: calc(50% + 50px);
        left: 50%;
        transform: translate(-50%, -50%); }
      article.each-one .width-50 .full-img .oreo-logo, article.each-one .width-50 .full-img .ghir-logo {
        animation: none !important;
        max-height: initial;
        height: auto;
        min-height: initial;
        top: initial;
        left: initial;
        /* transform: translate(50%, 50%); */
        width: 20%;
        position: absolute;
        right: 15px;
        bottom: 50px;
        backface-visibility: hidden; }
      article.each-one .width-50 .full-img .ghir-logo {
        right: 45px;
        width: 15%;
        bottom: 5%; }
      article.each-one .width-50 .full-img h1 {
        font-size: 3.5rem;
        line-height: 60px;
        font-family: 'thirsty-bold';
        margin-top: 25px;
        letter-spacing: 0;
        position: absolute;
        left: 15px;
        bottom: -13px;
        text-align: left;
        z-index: 1; }
    article.each-one .width-50 .each-content {
      margin-top: 50px; }
      article.each-one .width-50 .each-content .pad {
        padding: 50px; }
      article.each-one .width-50 .each-content h1 {
        font-size: 4.5rem;
        font-family: 'thirsty-bold';
        line-height: 70px;
        margin-top: 25px;
        letter-spacing: 0; }
      article.each-one .width-50 .each-content h3 {
        font-size: 2.75rem;
        color: #fff;
        font-family: 'gotham-book';
        font-weight: 100;
        margin-top: 5px;
        margin-bottom: 25px;
        text-transform: uppercase; }
      article.each-one .width-50 .each-content p {
        color: #fff;
        font-size: 0.9rem;
        font-family: 'gotham-book';
        font-weight: 100;
        letter-spacing: 1px; }
        article.each-one .width-50 .each-content p a {
          color: #fff;
          text-decoration: underline; }
      article.each-one .width-50 .each-content ul {
        margin: 0;
        display: inline-block;
        font-family: 'thirsty-bold';
        font-size: 2rem;
        padding: 0;
        font-weight: 100;
        margin-top: 25px;
        margin-bottom: 0;
        color: #fff; }
        article.each-one .width-50 .each-content ul li {
          display: inline-block;
          width: 45px;
          height: 45px;
          position: relative;
          /*background: $white;*/
          border-radius: 45px;
          cursor: pointer;
          margin-right: 15px;
          top: 10px;
          transition: 0.2s linear background; }
          article.each-one .width-50 .each-content ul li:first-child {
            margin-left: 25px; }
          article.each-one .width-50 .each-content ul li i {
            color: #64ccc9;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
          article.each-one .width-50 .each-content ul li:last-child {
            margin-right: 0; }
          article.each-one .width-50 .each-content ul li:hover {
            /*background: rgba(255,255,255,0.75);*/ }
  article.each-one .each-content {
    width: 50vw;
    height: auto;
    background: #64ccc9;
    position: relative;
    overflow: hidden; }
    article.each-one .each-content:before {
      width: 100%;
      height: 1px;
      content: '';
      position: absolute;
      top: 0px;
      left: 0;
      box-shadow: 0px 0px 30px 3px rgba(0, 0, 0, 0.25); }
    article.each-one .each-content:after {
      width: 100%;
      height: 1px;
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.25); }
    article.each-one .each-content ul div {
      display: inline-block;
      margin-right: 15px; }
  article.each-one .each-img {
    width: 50vw;
    height: 40%;
    position: relative; }
    article.each-one .each-img#cinnabon .bg {
      background: url("assets/img/cinnabon.jpg"); }
    article.each-one .each-img#strawberry .bg {
      background: url("assets/img/strawberry.jpg"); }
    article.each-one .each-img#oreo .bg {
      background: url("assets/img/oreo.jpg"); }
    article.each-one .each-img#peach .bg {
      background: url("assets/img/peach.jpg"); }
    article.each-one .each-img#chocolate .bg {
      background: url("assets/img/chocolate.jpg"); }
    article.each-one .each-img .bg {
      height: 100%;
      background-position: center center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important; }
      article.each-one .each-img .bg ul div {
        display: inline-block; }
    article.each-one .each-img:after {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      /* Old browsers */
      background: -moz-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
      /* FF3.6-15 */
      background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0.1)', endColorstr='rgba(0,0,0,0.6)',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
  article.each-one .scroll-next {
    display: none;
    position: absolute;
    bottom: 25px;
    left: 50%;
    width: 80px;
    height: 30px;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 1; }
    article.each-one .scroll-next:before {
      width: 100%;
      height: 9px;
      background: #fff;
      content: '';
      position: absolute;
      left: -27px;
      top: -6px;
      transform: rotate(40deg); }
    article.each-one .scroll-next:after {
      width: 100%;
      height: 9px;
      background: #fff;
      content: '';
      position: absolute;
      right: -27px;
      top: -6px;
      transform: rotate(-40deg); }
  article.each-one .scroll-next-shadow {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 80px;
    height: 30px;
    transform: translateX(-50%);
    filter: blur(5px);
    z-index: 0; }
    article.each-one .scroll-next-shadow:before {
      width: 40px;
      height: 9px;
      background: rgba(0, 0, 0, 0.15);
      content: '';
      position: absolute;
      left: 3px;
      top: 0px;
      transform: rotate(40deg); }
    article.each-one .scroll-next-shadow:after {
      width: 40px;
      height: 9px;
      background: rgba(0, 0, 0, 0.15);
      content: '';
      position: absolute;
      right: 3px;
      top: 0px;
      transform: rotate(-40deg); }
  article.each-one.show {
    height: 100vh; }
    article.each-one.show .scroll-next, article.each-one.show .scroll-next-shadow {
      display: block; }
    article.each-one.show .scroll-next {
      animation: 1s downward infinite; }
    article.each-one.show .scroll-next-shadow {
      animation: 1s downwardshadow infinite; }

.content {
  position: relative;
  padding-top: 85px; }
  .content img {
    margin-left: 35px; }
  .content h2 {
    color: #fff;
    font-family: 'gotham-book';
    font-size: 3.3rem;
    margin-top: 0;
    padding-left: 65px;
    text-transform: uppercase; }
    .content h2 span {
      display: block; }

.conveyor .hide {
  position: relative; }
  .conveyor .hide.now {
    height: 0;
    overflow: hidden; }

.conveyor h1 {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 0px;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .conveyor h1 .fancy {
    font-size: 5rem;
    margin-left: 15px;
    letter-spacing: 0px; }

nav {
  clear: both; }
  nav section {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    float: left;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    backface-visibility: hidden !important;
    -webkit-backface-visibility: hidden !important; }
    nav section h2 {
      font-family: 'gotham-bold' !important; }
    nav section a {
      text-decoration: none; }
      nav section a:hover {
        text-decoration: none; }
    nav section .toggle-trigger {
      width: 60px;
      height: 60px;
      border: 3px solid #fff;
      border-radius: 60px;
      position: absolute;
      right: 20px;
      cursor: pointer;
      bottom: 20px;
      transition: 0.2s linear all;
      z-index: 1; }
      nav section .toggle-trigger:before {
        width: 5px;
        height: 25px;
        position: absolute;
        content: '';
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        transition: 0.2s linear all; }
      nav section .toggle-trigger:after {
        height: 5px;
        width: 25px;
        position: absolute;
        content: '';
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      nav section .toggle-trigger.turn:before {
        transform: translate(-50%, -50%) rotate(90deg); }
    nav section:hover .bg {
      transform: scale(1.1) !important; }
    nav section .bg {
      width: 100%;
      border: none;
      height: 100%;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      transform: scale(1.01);
      transition: 3s ease-out transform;
      /*-webkit-backface-visibility: hidden;*/
      /*backface-visibility: hidden !important;*/ }
      nav section .bg:before {
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
        /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0.1)', endColorstr='rgba(0,0,0,0.6)',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */
        /*-webkit-backface-visibility: hidden;*/
        /*backface-visibility: hidden !important;*/ }
    nav section#cinnabon .bg {
      background: url("assets/img/cinnabon.jpg"); }
    nav section#strawberry .bg {
      background: url("assets/img/strawberry.jpg"); }
    nav section#oreo .bg {
      background: url("assets/img/oreo.jpg"); }
    nav section#peach .bg {
      background: url("assets/img/peach.jpg"); }
    nav section#chocolate .bg {
      background: url("assets/img/chocolate.jpg"); }
    nav section#location .bg {
      background: #64ccc9;
      cursor: pointer; }
      nav section#location .bg:before {
        background: rgba(0, 0, 0, 0.3);
        /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
        /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0.1)', endColorstr='rgba(0,0,0,0.3)',GradientType=1 );
        /* IE6-9 fallback on horizontal gradient */ }
    nav section#location .pin {
      width: 85px;
      height: 105px;
      background: url("assets/img/pin.svg"); }
    nav section#location:hover .bg {
      transform: scale(1) !important; }

.showoreo {
  display: none;
  padding: 0;
  margin-top: -15px;
  padding-bottom: 15px; }
  .showoreo.intime {
    display: block; }

.tm {
  font-family: 'gotham-bold' !important;
  font-size: 1rem !important;
  position: relative;
  top: -25px; }

.reg {
  font-family: 'gotham-bold' !important;
  font-size: 0.8rem !important;
  position: relative;
  top: -40px;
  line-height: 0; }

.regalt {
  font-family: 'gotham-bold' !important;
  font-size: 0.5rem !important;
  position: relative;
  top: -5px; }

@keyframes downward {
  0% {
    bottom: 25px; }
  25% {
    bottom: 20px; }
  100% {
    bottom: 25px; } }

@keyframes downwardshadow {
  0% {
    bottom: 15px; }
  25% {
    bottom: 10px; }
  100% {
    bottom: 15px; } }

@keyframes pulse {
  0% {
    max-width: 200px; }
  50% {
    max-width: 250px; }
  100% {
    max-width: 200px; } }

@keyframes growslow {
  0% {
    max-height: 60vh; }
  90% {
    max-height: 70vh; }
  95% {
    max-height: 80vh; }
  100% {
    max-height: 70vh; } }

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  nav section {
    width: calc(100% / 3 - 0.1px); }
  header img {
    width: 210px; }
  .conveyor .hide.now {
    display: none; }
  article.each-one .width-50 .full-img .oreo-logo, article.each-one .width-50 .full-img .ghir-logo {
    top: auto !important;
    left: auto !important;
    min-height: auto !important;
    max-height: auto !important;
    transform: translate(0, 0) !important; } }

@media (min-width: 992px) {
  article.each-one.show .width-50 .full-img img {
    animation: growslow forwards 3s ease-out;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; } }

@media (max-width: 1199px) {
  article.each-one .width-50 .each-content h1 {
    font-size: 3.5rem;
    line-height: 60px; }
  article.each-one .width-50 .each-content h3 {
    font-size: 2.25rem; }
  article.each-one .width-50 .each-content ul {
    margin-top: 15px;
    font-size: 1.5rem; }
    article.each-one .width-50 .each-content ul li {
      margin-right: 5px; }
      article.each-one .width-50 .each-content ul li:first-child {
        margin-left: 20px; }
  .content {
    padding-top: 55px; }
    .content h2 {
      font-size: 2.65rem; } }

@media (max-width: 991px) {
  body {
    background: #64ccc9;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #77dfdc 0%, #34aca7 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #77dfdc 0%, #34aca7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #77dfdc 0%, #34aca7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77dfdc', endColorstr='#34aca7',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */ }
  .hidden-sm {
    display: none; }
  .visible-sm {
    display: block; }
  .belt img {
    width: 160px; }
  nav section {
    width: calc(100% / 2);
    height: calc(100vw / 2); }
  article.each-one.show {
    height: auto !important;
    min-height: auto !important; }
    article.each-one.show p {
      font-size: 1rem; }
  article.each-one.show .width-50 {
    width: 100%;
    height: auto !important; }
    article.each-one.show .width-50 .full-img {
      text-align: center;
      height: 70vh;
      /*position: fixed;*/ }
      article.each-one.show .width-50 .full-img img {
        max-height: calc(70vh - 50px);
        top: initial;
        left: 50%;
        transform: translateX(-50%);
        bottom: -60px;
        position: absolute; }
      article.each-one.show .width-50 .full-img.gradient {
        background: none !important; }
    article.each-one.show .width-50.fix-help {
      /*margin-top: 70vh;*/
      /*height: 30vh;*/ }
  article.each-one .each-content {
    width: 100%; }
  article.each-one .each-img {
    width: 100%;
    height: auto; }
    article.each-one .each-img .bg .pad {
      padding: 50px;
      padding-bottom: 80px;
      position: relative;
      z-index: 1;
      /*top: -130px;*/ }
    article.each-one .each-img .bg h1 {
      font-size: 4.5rem;
      font-family: 'thirsty-bold';
      line-height: 70px;
      margin-top: 25px; }
    article.each-one .each-img .bg h3 {
      font-size: 2.75rem;
      color: #fff;
      font-family: 'gotham-book';
      font-weight: 100;
      margin-top: 5px;
      margin-bottom: 25px;
      text-transform: uppercase; }
    article.each-one .each-img .bg p {
      color: #fff;
      font-size: 0.9rem;
      font-family: 'gotham-book';
      font-weight: 100;
      letter-spacing: 1px; }
      article.each-one .each-img .bg p a {
        color: #fff;
        text-decoration: underline; }
    article.each-one .each-img .bg ul {
      margin: 0;
      display: inline-block;
      font-family: 'thirsty-blk';
      font-size: 2rem;
      padding: 0;
      font-weight: 100;
      margin-top: 25px;
      margin-bottom: 0;
      color: #fff; }
      article.each-one .each-img .bg ul div {
        display: inline-block;
        margin-right: 15px; }
      article.each-one .each-img .bg ul li {
        display: inline-block;
        width: 45px;
        height: 45px;
        position: relative;
        /*background: $white;*/
        border-radius: 45px;
        cursor: pointer;
        margin-right: 15px;
        top: 10px; }
        article.each-one .each-img .bg ul li:first-child {
          margin-left: 25px; }
        article.each-one .each-img .bg ul li i {
          color: #64ccc9;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
        article.each-one .each-img .bg ul li:last-child {
          margin-right: 0; }
  article.each-one .width-50 .full-img h1 {
    left: 50px;
    max-width: 65%; }
  article.each-one .width-50 .full-img .oreo-logo, article.each-one .width-50 .full-img .ghir-logo {
    width: 25%;
    bottom: 15px !important;
    transform: translateX(0) !important;
    left: initial !important;
    right: 50px !important;
    max-width: 100px; }
  nav section .bg:hover {
    transform: scale(1); } }

@media (max-width: 767px) {
  .belt {
    margin-bottom: -140px; }
    .belt img {
      max-width: 200px;
      width: 200px; }
  .content img {
    max-width: 40px; }
  .content h2 {
    padding-left: 50px;
    font-size: 2rem; }
  article.each-one .each-img .bg ul div {
    display: block; }
  footer p {
    line-height: 0.75rem;
    font-size: 0.6rem; } }

@media (max-width: 550px) {
  .belt {
    margin-bottom: -160px; }
    .belt img {
      max-width: 180px;
      width: 180px; }
  article.each-one .width-50 .full-img .oreo-logo, article.each-one .width-50 .full-img .ghir-logo {
    right: 15px !important; }
  article.each-one .width-50 .full-img .ghir-logo {
    width: 20% !important; }
  article.each-one .each-img .bg h1 {
    font-size: 3rem;
    line-height: 50px;
    margin-top: 40px; }
  article.each-one .each-img .bg h3 {
    font-size: 2.5rem; }
  article.each-one .each-img .bg .pad {
    padding: 50px 15px 70px 15px; }
  nav section .bg .toggle-trigger {
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px; }
  article.each-one .width-50 .full-img h1 {
    left: 15px; }
  .bg .content {
    padding-top: 45px; }
    .bg .content img {
      max-width: 30px; }
    .bg .content h2 {
      padding-left: 35px;
      font-size: 1.5rem; }
  article.each-one.show .width-50 .full-img img {
    bottom: -90px; }
  .reg {
    top: -30px; } }

@media (max-width: 400px) {
  .bg .content {
    padding-top: 30px; }
    .bg .content img {
      max-width: 30px;
      margin-left: 22px; }
    .bg .content h2 {
      font-size: 1.5rem;
      line-height: 1.5rem; }
  nav section .toggle-trigger {
    right: 10px;
    bottom: 10px; } }

@media (max-width: 355px) {
  .bg .content h2 {
    font-size: 1.2rem;
    line-height: 1.5rem; }
  article.each-one.show .width-50 .full-img img {
    bottom: -150px; } }
