// 8px = 0.6667rem
// 9px = 0.75rem
// 10px = 0.8333rem
// 11px = 0.9167rem
// 12px = 1rem (base)
// 13px = 1.083rem
// 14px = 1.167rem
// 15px = 1.25rem
// 16px = 1.333rem
// 18px = 1.5rem
// 20px = 1.667rem
// 22px = 1.833rem
// 24px = 2rem
// 26px = 2.167rem
// 28px = 2.333rem
// 30px = 2.5rem
// 32px = 2.667rem
// 34px = 2.833rem
// 36px = 3rem
// 38px = 3.167rem
// 48px = 4rem
// 72px = 6rem

@font-face {
    font-family: 'gotham-bold';
    src: url('/assets/fonts/gotham-bold.eot');
    src: url('/assets/fonts/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/gotham-bold.woff') format('woff'),
         url('/assets/fonts/gotham-bold.ttf') format('truetype'),
         url('/assets/fonts/gotham-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gotham-book';
    src: url('/assets/fonts/gotham-book.eot');
    src: url('/assets/fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/gotham-book.woff') format('woff'),
         url('/assets/fonts/gotham-book.ttf') format('truetype'),
         url('/assets/fonts/gotham-book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thirsty-bold';
    src: url('/assets/fonts/thirstybold.eot');
    src: url('/assets/fonts/thirstybold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/thirstybold.woff') format('woff'),
         url('/assets/fonts/thirstybold.ttf') format('truetype'),
         url('/assets/fonts/thirstybold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thirsty-blk';
    src: url('/assets/fonts/thirstyblk.eot');
    src: url('/assets/fonts/thirstyblk.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/thirstyblk.woff') format('woff'),
         url('/assets/fonts/thirstyblk.ttf') format('truetype'),
         url('/assets/fonts/thirstyblk.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
